@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 8px;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: 0;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style-type: none;
}

/* Separate it because if combined with "ul", the text-decoration will not work */
a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(121, 120, 120);
}

body div.content {
  display: flex;
  justify-content: center;
  flex: 50 0 500px;
  margin-right: 250px;
  margin-top: 220px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  margin-left: -30px;
  margin-right: -12px;
  margin-top: -8px;
  margin-bottom: 8px;
}

.left-links, .right-links {
  display: flex;
  gap: 12px;
}

.input, .buttons {
  display: flex;
  justify-content: center;
  gap: 7px;
  padding: 4px;
}

button {
  padding: 8px 17px;
}

.footer {
  display: block;
  background: rgb(222, 217, 217);
  weight: 700px;
}

.right-links {
  padding-right: 12px;
}
